version: "3"

services:
  web:
    build: .
    command: >
      sh -c  "python manage.py makemigrations &&
              python manage.py migrate &&
              python manage.py runserver 0.0.0.0:3000 --insecure"
    ports:
      - "3000:3000"
    volumes:
      - .:/web
  db:
    image: postgres
    expose:
    - "5433"
    ports:
      - "5433:5433"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./backups:/home/backups
    command: -p 5433