{% load static %}
<div class="row justify-content-center bg-dark-gray banner m-0">
  <div class="col-xl-4 col-lg-5 col-10 mn-height-px-300 text-white position-relative">
    <div class="banner-title">
      <h3>
        여러분들의 소리를 들려주세요.
      </h3>
      <h2>
        한민의 소리, <span class="text-blue">한아름</span>
      </h2>
    </div>
  </div>
  <div class="col-xl-2 col-lg-3 d-lg-block d-md-none d-none">
    <img src="{% static 'img/hanmin_character.png' %}" class="banner-image">
  </div>
  <div class="d-lg-none banner-bg-character-container">
    <img src=" {% static 'img/hanmin_character.png' %} " class=banner-bg-character>
  </div>
</div>
