{% extends 'base.dj.html' %}
{% load static %}
{% load sass_tags %}
{% load bootstrap5 %}
{% block stylesheet %}
    <link href="{% sass_src 'style/pages/joha.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block banner %}
    {% include 'joha/components/_banner.dj.html' %}
{% endblock %}
{% block content %}
  <div class="joha row p-3 gx-lg-5 justify-content-center">
    <div class="col-md-8 col-12 text-center">
      <section class="introduce-section">
        <h5 class="joha-introduce-subtitle"> 프로젝트 목적 및 취지 </h5>
        <h3 class="joha-introduce-title">
          ❣️ JOHA는 어떤 목표를 가지고 있나요?
        </h3>

        <ul>
          <li> 1. 재학생들의 연구를 졸업생들이 피드백해줄 수 있는 환경을 조성히고자 합니다. </li>
          <li> 2. 재학생들이 학계의 Peer review system을 경험해볼 수 있도록 합니다. </li>
          <li> 3. 우수 연구성과의 데이터베이스화 및 연구의욕증진, 연구장려분위기 조성하고자 합니다. </li>
        </ul>
      </section>

      <section class="introduce-section">
        <h5 class="joha-introduce-subtitle"> 프로젝트 기간 </h5>
        <h3 class="joha-introduce-title"> 📆 JOHA 프로젝트는 언제 진행하나요? </h3>
        <p>
          <b>반기 1회씩</b> (상반기; 여름방학, 하반기; 겨울방학) 정해진 기간 동안 JOHA 사이트를 통해 재학생들의 연구계획서와 논문을 접수합니다.<br>
          이후 피드백 과정을 진행하고, 논문의 경우 반기 1회씩 온라인 저널에 업로드함.
        </p>
      </section>

      <section class="introduce-section">
        <h5 class="joha-introduce-subtitle"> 프로젝트 진행 방식 </h5>
        <h3 class="joha-introduce-title"> 🗨️ JOHA 프로젝트는 어떻게 진행되나요? </h3>
        <div class="accordion accordion-flush pt-3" id="joha-project-process-content">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                STEP 1. 연구계획서 / 논문 투고
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#joha-project-process-content">
              <div class="accordion-body">
                재학생들이 정해진 기간 동안 연구 계획서 및 논문을 투고합니다.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                STEP 2. 논문과 해당 전공분야 졸업생 리뷰어와의 매칭
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#joha-project-process-content">
              <div class="accordion-body">
                문과 / 이과 Chief editor가 투고된 논문의 분야에 맞게 해당 전공분야의 졸업생 리뷰어에게 전달합니다.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                STEP 3. 계획서와 논문에 대한 피드백
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#joha-project-process-content">
              <div class="accordion-body">
                리뷰어들은 계획서와 논문에 대한 피드백을 작성한 뒤 다시 Chief editor에게 전달합니다.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                STEP 4. 피드백 반영 및 연구 계획서 및 논문 수정
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#joha-project-process-content">
              <div class="accordion-body">
                Chief editor는 피드백을 취합하여 재학생에게 전달합니다.<br/> 제출자(재학생)는 피드백을 반영하여 수정한 연구계획서/논문을 다시 제출할 수도 있습니다.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                STEP 5. 온라인 저널에 완성된 논문을 게시
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#joha-project-process-content">
              <div class="accordion-body">
                위 과정을 거친 뒤 `온라인 저널`에 완성된 논문을 게시합니다. 연구 계획서는 별도로 게시되지 않습니다.
              </div>
            </div>
          </div>
        </div>
      </section>
      {% comment %}
      <h3>
        🙋프로젝트 구성원
      </h3>

      <ul>
        <li>
          - 프로젝트 총 책임자 겸 이과 부문 Chief editor : 김태민(1기 졸업생)
        </li>
        <li>
          - 문과 부문 Chief editor : 안예진(1기 졸업생)
        </li>
        <li>
          - 프로젝트 기획 : 김홍래(1기 졸업생), 강주호(2기 졸업생)
        </li>
        <li>
          - 사이트 개발 총괄 : 김신건(3기 졸업생)
        </li>
      </ul> {% endcomment %}
    </div>
  </div>

{% endblock %}