{% extends 'base.dj.html' %}
{% load static %}
{% load fontawesome_5 %}
{% load bootstrap5 %}
{% load sass_tags %}

{% block stylesheet %}
    <link href="{% sass_src 'style/components/_comments.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class = "notice row gx-sm-1 gy-3 pt-3">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header p-3 position-relative bg-white">
                    <h3 class="card-title">
                        {{ notice.title }}
                    </h3>
                    <span class="m-1">
                        {% fa5_icon 'user-alt' 'fas' %}
                        한아름
                    </span>
                    <span class="m-1">
                        {% fa5_icon 'clock' 'far' %}
                        {{ notice.updated_at }}
                    </span>
                </div>
                <div class="card-body mn-height-px-200 position-relative">
                    <div class="card-text p-3 article-content">
                        {{ notice.content | safe }}
                    </div>
                    <div class="card-text position-absolute bottom-0 p-3">
                        {% for hashtag in hashtags%}
                            <span class="fw-bold">
                                {{hashtag.content}}
                            </span>
                        {% endfor %}
                    </div>
                </div>
                {% url 'notices:new_comment' notice.id as new_comment_url%}
                {% include 'comments/_comment_list.dj.html' with article=notice comments=comments new_comment_url=new_comment_url %}
            </div>
            {% include 'notices/components/_prev_next_article_nav.dj.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
