<div class="comment">
    {% for comment in comments %}
        <div class="row m-1 p-1 border-top">
            <div class="col-12 p-2 pb-1 align-middle position-relative">
                {% with avatar=comment.user.avatar %}
                    {% include 'notice/_circle_avatar.dj.html' %}
                {% endwith %}
                {% comment %} TODO: 유저 페이지로 연결하는 링크 추가하기 {% endcomment %}
                <h5 class="commentor"> {{ comment.user }}</h5>
                <p class="p-2 m-0">
                    {{ comment.content }}
                </p>
                <p class="updated_at">
                    {{ comment.updated_at }}
                </p>
                <div class="comment-action p-3">
                    <a class="p-1 text-secondary"> 대댓글 쓰기 </a>
                    {% comment %} TODO: 댓글을 쓴 사람일때만 아래 메뉴 활성화하기 {% endcomment %}
                    <a class="p-1 text-secondary"> 수정 </a>
                    <a class="p-1 text-secondary"> 삭제 </a>
                </div>
            </div>
            <div class="col-12">
                {% if comment.recomments %}
                    {% for recomment in comment.recomments %}
                        <div class="row p-1 m-2 ml-5 bg-light-gray">
                            <div class="col-12 p-2 pb-1 align-middle position-relative">
                                <div class="d-inline">
                                    {% with avatar=recomment.user.avatar %}
                                        {% include 'notice/_circle_avatar.dj.html' %}
                                    {% endwith %}
                                </div>
                                <h5 class="commentor"> {{ recomment.user }}</h5>
                                <p class="p-2 m-0">
                                    {{ recomment.content }}
                                </p>
                                <p class="updated_at">
                                    {{ recomment.updated_at }}
                                </p>
                                <div class="comment-action p-3">
                                    {% comment %} TODO: 댓글을 쓴 사람일때만 아래 메뉴 활성화하기 {% endcomment %}
                                    <a class="p-1 text-secondary"> 수정 </a>
                                    <a class="p-1 text-secondary"> 삭제 </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>