{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% block stylesheet %}
    <link href="{% static 'style/notice.css' %}?v=2" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class = "row p-3 gx-lg-5">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 col-12">
            <div class="board-header w-100 position-relative">
                <h3 style="display:inline-block">
                    한아름 공지사항
                </h3>
                <hr>
            </div>
            <div class="row g-2">
                {% for notice in top_fixed_notices %}
                    {% url 'notice:show' notice.id as show_url %}
                    {% include 'components/_article_card.dj.html' with show_url=show_url article=notice show_like_activity=False%}
                {% endfor %}

                {% for notice in non_top_fixed_notices %}
                    {% url 'notice:show' notice.id as show_url %}
                    {% include 'components/_article_card.dj.html' with show_url=show_url article=notice show_like_activity=False %}
                {% endfor %}
            </div>
            {% with current_page=non_top_fixed_notices%}
                {% include 'components/_pagination.dj.html' %}
            {% endwith %}

        </div>

        <div class = "col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card mn-height-px-300">
                {% comment %} TODO: 추가 컨텐츠{% endcomment %}
            </div>
        </div>
    </div>

{% endblock %}
