{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% block stylesheet %}
{% endblock %}

{% block content %}
    <div class = "row p-3 gx-lg-5">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 col-12">
            <section class="article-group">
                <div class="row gy-2">
                    {% comment %} {% for article in articles %}
                        {% include 'hanmaum/_article_card.dj.html' %}
                    {% endfor %} {% endcomment %}
                </div>
            </section>
        </div>

        <div class = "col-3" style="border:1px solid ">
            {% comment %} TODO: HNM-0069: 필터 {% endcomment %}
        </div>
    </div>

{% endblock %}
