{% load fontawesome_5 %}

<div class="card">
    <div class="card-body position-relative">
        <h5 class="card-title">
            <a href = "{% url 'article:show' article.id %}">
                {{article.abstract_title}}
            </a>
        </h5>
        <p class="card-text">{{article.summary}}</p>
        {% comment %} TODO: 한글 날짜 형식 혹은 YYYY-MM-DD HH:mm:ss으로 바꾸기 {% endcomment %}
        <span class="card-text">조회수: {{article.total_viewed_count}}</span>
        <div class = "like-activity-group position-absolute" style="bottom:10px; right:0;">
            <span class="card-text p-2">
                <span style="color: #5060AD">
                    {% fa5_icon 'thumbs-up' 'fas' %}
                </span>
                {{article.like_count}}
            </span>
            <span class="card-text p-2">
                <span style="color: #ff5f5f">
                    {% fa5_icon 'thumbs-down' 'fas' %}
                </span>
                {{article.dislike_count}}
            </span>
        </div>
        {% comment %} TODO: 좋아요 버튼, 좋아요 여부에따라 색상 표시하기 {% endcomment %}

        <p class="card-text"><small class="text-muted">Last updated {{article.updated_at}}</small></p>
    </div>
</div>