{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% load fontawesome_5 %}
{% block stylesheet %}
{% fontawesome_5_static %}
{% endblock %}

{% block content %}
    <div class = "row pt-3">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12">
            <div class="board-header w-100 position-relative">
                <h3 class="d-inline-block p-2 w-100">
                    {{ search_keyword }} : 검색 결과
                </h3>
                <hr>
            </div>
            <div class="row g-2 pb-5">
                {% for article in top_fixed_articles %}
                    {% url 'articles:show' article.id as show_url %}
                    {% include 'components/_article_card.dj.html' with show_url=show_url article=article show_like_activity=True %}
                {% endfor %}
                {% for article in articles %}
                    {% url 'articles:show' article.id as show_url %}
                    {% include 'components/_article_card.dj.html' with show_url=show_url article=article show_like_activity=True %}
                    {% empty %}
                    {% url 'articles:new' board.id as new_url %}
                    {% include 'components/_none_items.dj.html' with msg="게시글이 없습니다. :(<br>한번 게시글을 <a href='"|add:new_url|add:"'> 작성해볼까요? </a>"%}
                {% endfor %}
            </div>

            {% with current_page=articles%}
                {% include 'components/_pagination.dj.html' %}
            {% endwith %}
        </div>

        <div class="col-xl-3 col-lg-3 d-lg-block d-md-none d-sm-none d-none">
            {% include 'articles/components/_search_form_card.dj.html' %}
            {% include 'articles/components/_recent_popular_article_list_card.dj.html' %}
        </div>
    </div>
{% endblock %}
