{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% load fontawesome_5 %}
{% block stylesheet %}
{% fontawesome_5_static %}
{% endblock %}

{% block content %}
    <div class = "article row m-3 gx-lg-5 gy-3">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card m-3">
                <div class="card-header position-relative">
                    <h3 class="card-title">
                        {{ article.title }}
                    </h3>
                    {% if is_author %}
                        <div class="card-header-author-menu">
                            <a href="{% url 'articles:edit' article.id %}"> 글 수정 </a>
                            <a href="{% url 'articles:delete' article.id %}" onclick="return confirm('삭제하시겠습니까?');"> 글 삭제 </a>
                        </div>
                    {% endif %}
                    <small class="text-muted fw-light">
                        <span class="m-1">
                            {% fa5_icon 'user-alt' 'fas' %}
                            {% if article.anonymous_author %}
                                익명
                            {% else %}
                                {{ article.author}}
                            {% endif %}
                        </span>
                        <span class="m-1">
                            {% fa5_icon 'clock' 'far' %}
                            {{ article.updated_at }}
                        </span>
                    </small>
                </div>
                <div class="card-body mn-height-px-200 position-relative">
                    <div class="card-text p-3">
                        {{article.content | safe }}
                    </div>
                    <div class="card-text position-absolute bottom-0 p-3">
                        {% for hashtag in hashtags%}
                            <span class="fw-bold">
                                {{hashtag.content}}
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer mn-height-px-100">
                    <div class="row w-100 justify-content-center">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 text-center">
                            <a href="{% url 'articles:like' article.id %}" class="btn">
                                {% if article.is_user_in_like %}
                                    {% fa5_icon 'thumbs-up' 'fas text-blue' %}
                                {% else %}
                                    {% fa5_icon 'thumbs-up' 'far text-blue' %}
                                {% endif %}
                            </a>
                            <p>
                                {{article.like_count}}
                            </p>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 text-center">
                            <a href="{% url 'articles:dislike' article.id %}" class="btn">
                                {% if article.is_user_in_dislike %}
                                    {% fa5_icon 'thumbs-down' 'fas text-red' %}
                                {% else %}
                                    {% fa5_icon 'thumbs-down' 'far text-red' %}
                                {% endif %}
                            </a>
                            <p>
                                {{article.dislike_count}}
                            </p>
                        </div>
                    </div>
                </div>
                {% url 'articles:new_comment' article.id as new_comment_url%}
                {% include 'comments/_comment_list.dj.html' with article=article comments=comments new_comment_url=new_comment_url %}
            </div>
        </div>

        <div class = "col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card mn-height-px-300">
                {% comment %} TODO: 추가 컨텐츠{% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
