@import 'base/color';
@import 'base/size';
@import 'base/text';
@import 'base/variables';
@import 'components/button';
@import 'components/sidemenu';
@import 'components/nav';
.hanalum-max-width {
    max-width: $window-max-width;
}

main {
    min-height: calc(100vh - 15rem);
}

footer {
    margin-top: 10rem;
    background-color: #282a2b;
}

.pagination_wrapper {
    padding: 1rem;
    text-align: center;
    background-color: transparent!important;
    .pagination {
        padding: 2rem;
    }
}

.article {
    .article-content {
        iframe {
            max-width: 100%;
            max-height: 500px;
        }
    }
    div.id_title {
        color: black;
        background-color: white;
        border: none;
        border-bottom: 1px solid #00000020;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0 0 1rem 0!important;
        min-height: 45px;
        outline: none;
    }
    .article-title-form {
        background: none;
        border: 0;
        color: rgba(0, 0, 0, 0.6);
        display: inline-block;
        font-size: 1rem;
        height: 3rem;
        line-height: 3rem;
        outline: 0;
        width: auto;
        min-width: 80%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .article.container {
        padding: 0;
        margin: 0;
    }
}

button.border-none {
    border: none;
    background: none;
    outline: none;
}

.overflow-scroll {
    overflow: scroll;
}

@supports (position: sticky) or (position: -webkit-sticky) {
    .sticky-title {
        position: -webkit-sticky;
        position: sticky;
        z-index: 99;
        top: 0px;
    }
}


/* ----- border -----*/

.border-solid-light-gray {
    border: 1px solid #00000020;
}


/* ----- padding ----- */

.pl-4 {
    padding-left: 1.5rem!important;
}

.pl-5 {
    padding-left: 2rem!important;
}


/* ----- margin ----- */

.ml-5 {
    margin-left: 2rem!important;
}


/* ----- width ----- */

.w-auto-fit {
    width: auto;
    max-width: 100%;
    height: 100;
}

.w-fit-content {
    width: fit-content;
}


/* ----- heght ----- */

.h-2-rem {
    height: 2rem;
}

.h-50-px {
    height: 50px
}


/* ----- position ----- */

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.right-10-px {
    right: 10px;
}

.right-10 {
    right: 10%!important;
}

.top-0 {
    top: 0;
}

.top-5-px {
    top: 5px;
}

.top-30 {
    top: 30%!important;
}

.top-center-50 {
    top: 50%!important;
    transform: translateY(-50%);
}


/* ----- line-height ----- */

.lh-2-rem {
    line-height: 2rem;
}


/* ----- text ----- */

.text-error {
    margin-top: 1px;
    font-size: 0.8rem;
    color: red;
}

.text-error::before {
    content: "* ";
}

.text-underline {
    text-decoration: underline!important;
    text-decoration-color: #ffffff!important;
    text-decoration-thickness: .125em!important;
    text-underline-offset: 1.5px!important;
}

.font-size-half-rem {
    font-size: 0.5rem;
}


/* ----- banner ----- */

.banner {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner-image {
    z-index: 3;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.banner-title {
    z-index: 10;
    text-align: left;
    text-decoration: solid 2px;
    position: absolute;
    top: 120px;
}

.banner-title h2 {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.banner-title h3 {
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

@media only screen and (max-width: 768px) {
    .banner-title {
        text-align: left;
        text-decoration: solid 2px;
        position: absolute;
        top: 120px;
    }
    .banner-title h2 {
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }
    .banner-title h3 {
        filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }
}

.banner .banner-bg-character-container {
    position: relative;
}

.banner img.banner-bg-character {
    width: auto;
    max-height: 200px;
    position: absolute;
    bottom: 3rem;
    right: 2rem;
}

.none-itmes-wrapper {
    border-radius: 10px;
    padding: 4px;
    min-height: 200px;
}

.none-items-msg {
    margin: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    filter: drop-shadow(0 0 0.05rem #5C6F7D);
    font-family: 'Raleway', sans-serif;
    justify-self: center;
}


/* user page */

.user-page .avatar-image-wrapper {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    box-shadow: 1px 1px #cbcbcb;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.user-page .avatar-image-wrapper img {
    width: 100%;
    height: auto;
}


/* article page */

.card-header-author-menu {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.card-header-author-menu a {
    padding: 0.5rem;
    color: #6c757d!important;
}

.article .card-header {
    padding: 1rem;
}

@media only screen and (max-width: 576px) {
    .card-header-author-menu {
        position: absolute;
        left: 10px;
    }
    .card-header-author-menu a {
        padding: 0.5rem;
        color: #6c757d!important;
    }
    .article .card-header {
        padding: 1rem 1rem 3rem 1rem!important;
    }
}


/* components */

.avatar-image-small-wrapper {
    overflow: hidden;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    box-shadow: 1px 1px #cbcbcb;
    border-radius: 50%;
}

.avatar-image-small-wrapper img {
    width: 100%;
    height: auto;
}


/*sign up*/

.main-icon {
    width: 7rem;
    padding-bottom: 0.5rem;
}

.color-blue {
    color: #0d6efd;
}


/* ----- side-nav ----- */

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    z-index: 9999;
}

#sidebar.active {
    margin-right: -17rem;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


/* ----- chips ----- */

.chips {
    color: black;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0 8px 0;
    min-height: 45px;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.chips .input {
    background: none;
    border: 0;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    outline: 0;
    margin: 0 0 0 1rem;
    padding: 0 !important;
    width: 200px !important;
}


/* ----- pagination ----- */

.pagination_wrapper {
    text-align: center;
}

.pagination_wrapper ul {
    display: inline-block;
}

.pagination_wrapper li {
    display: inline-block;
}


/* ---- toast ----- */

.toast-container {
    z-index: 10000;
}

.gallery {
    -webkit-column-count: 34;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.gallery img {
    border-radius: 10px;
}

.gallery .card-img-overlay {
    border-radius: 10px;
    display: none;
}

@media (max-width: 1500px) {
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }
}

@media (max-width: 1200px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }
    .gallery .card-img-overlay {
        display: inherit;
    }
}

@media (max-width: 580px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

.gallery-title {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: solid 2px;
}

.gallery-item:hover .card-img-overlay {
    border-radius: 10px;
    display: inherit;
}

.article-list .article-list-item {
    border-bottom: 1px solid #dee2e6;
}

.article-list .article-list-item:nth-child(5) {
    border-bottom: none!important;
}

.border-bottom-gray {
    border-bottom: 1px solid #dee2e6;
}


/* TODO: size array로 변경 */

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-auto {
    margin-top: auto !important;
}

.me-0 {
    margin-right: 0 !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.me-4 {
    margin-right: 1.5rem !important;
}

.me-5 {
    margin-right: 3rem !important;
}

.me-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 3rem !important;
}

.ms-auto {
    margin-left: auto !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pe-0 {
    padding-right: 0 !important;
}

.pe-1 {
    padding-right: 0.25rem !important;
}

.pe-2 {
    padding-right: 0.5rem !important;
}

.pe-3 {
    padding-right: 1rem !important;
}

.pe-4 {
    padding-right: 1.5rem !important;
}

.pe-5 {
    padding-right: 3rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.ps-0 {
    padding-left: 0 !important;
}

.ps-1 {
    padding-left: 0.25rem !important;
}

.ps-2 {
    padding-left: 0.5rem !important;
}

.ps-3 {
    padding-left: 1rem !important;
}

.ps-4 {
    padding-left: 1.5rem !important;
}

.ps-5 {
    padding-left: 3rem !important;
}

.list-style-none {
    list-style: none;
    padding-left: 0;
}

.border-none {
    border: none!important;
}