{% extends 'base.dj.html' %}
{% load bootstrap5 %}
{% load static %}
{% block stylesheet %}
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form method = "POST" action = "{% url 'user:signup' %}" class="align-middle col-12 col-md-8 col-lg-8 col-xl-6">
      {% csrf_token %}
      <div class = "card p-3 m-3">
        <div class="card-header bg-white text-center">
          <a href="/"><img class="main-icon" src= "{% static 'img/no-title-logo-new.png' %}" alt=""></a>
          <h4 class="mb-1 text-center text-muted">회원가입</h4>
        </div>
        <div class = "card-content p-3">
          {% for field in form %}
            <div class="m-1">
              <label for="{{field.id_for_label}}" class = "m-1">{{field.label}}</label>
              {{field}}
              {% if field.id_for_label == "id_email" and not msg.email.status and msg.email.status is not None %}
                  <div class="text-error ml-3 mb-2">{{msg.email.msg}}</div>
              {% endif %}
              {% if field.id_for_label == "id_nickname" and not msg.nickname.status and msg.nickname.status is not None %}
                  <div class="text-error ml-3 mb-2">{{msg.nickname.msg}}</div>
              {% endif %}
              {% if field.id_for_label == "id_password2" and not msg.password.status and msg.password.status is not None %}
                  <div class="text-error ml-3 mb-2">{{msg.password.msg}}</div>
              {% endif %}
              {% if field.id_for_label == "id_realname" and not msg.realname.status and msg.realname.status is not None %}
                  <div class="text-error ml-3 mb-2">{{msg.realname.msg}}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="small px-3">
          <p class="mb-2 text-center"><a class="text-decoration-underline text-center color-blue" href="{% url 'user:signin' %}">이미 계정이 있으신가요?</a></p>
          <p class="mb-0 text-center"><a class="text-decoration-underline text-center color-blue" href="/">메인화면으로 돌아가기</a></p>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-md" type="submit">회원 가입</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
