{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% block stylesheet %}
{% endblock %}

{% block content %}
    <div class = "row p-3 gx-lg-5 justify-content-center">
        <div class="col-12">
            <section class="article-group">
                <div class="gallery" id="gallery">
                    <a href="{% url 'hanmaum:introduce'%}">
                        <div class="gallery-item mb-3 pics animation all" src="{{article.thumbnail.url}}" >
                            <img src="{% static 'img/hanmaum.jpg' %}" class="img-fluid card-img" alt="...">
                            <div class="card-img-overlay bg-transparent-gray w-100 h-100">
                                <div class="position-relative w-100 h-100">
                                <h5 class="card-title gallery-title p-3">한마음은 어떤 이야기를 들려주나요?</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% for article in articles %}
                        <a href="{% url 'hanmaum:show' article.id %}">
                            <div class="gallery-item mb-3 pics animation all" src="{{article.thumbnail.url}}" >
                                {% if article.thumbnail %}
                                    <img src="{{article.thumbnail.url}}" class="img-fluid card-img" alt="...">
                                {% else%}
                                    <img src="#" class="img-fluid" alt="...">
                                {% endif %}
                                <div class="card-img-overlay bg-transparent-gray w-100 h-100">
                                    <div class="position-relative w-100 h-100">
                                    <h5 class="card-title gallery-title m-3 text-overflow-ellipsis-2">{{ article.title }}</h5>
                                    <small class="card-text position-absolute p-1 bottom-0 right-0 text-white">{{article.updated_at}} </small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        initLikeActivity();
    })
</script>
{% endblock %}
