{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% block stylesheet %}
{% endblock %}

{% block content %}
    <div class = "row p-3 gx-lg-5">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 col-12">
            <section class="article-group">
                <div class="row gy-2">
                    {% for article in articles %}
                        {% include 'hanmaum/_article_card.dj.html' %}
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class = "col-3" style="border:1px solid ">
            {% comment %} TODO: HNM-0069: 필터 {% endcomment %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>

$(document).ready(function() {
    initLikeActivity();
})


function initLikeActivity() {
    $(".like-button").click(function() {
        var article_id = $(this).data("article-id");
        $.ajax({
            type: "POST",
            url: "{% url 'hanmaum:like' %}",
            data: {
                'article_id' : article_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                if(response.status) { 
                    // 좋아요 성공
                    $(".like-action-group-"+article_id).html(
                        "<a class = 'cancle-button' data-article-id = '" + article_id + "'> 좋아요 취소 </a><a class = 'dislike-button' data-article-id = '" + article_id + "'> 싫어요 </a>"
                    )
                    initLikeActivity();
                }
                else {
                    // 좋아요 실패
                    alert("에러가 발생하였습니다.")
                }
            },
            error: function(request, status, error) {
                alert("에러가 발생하였습니다.")
            }
        });
    })

    $(".dislike-button").click(function() {
        var article_id = $(this).data("article-id");

        $.ajax({
            type: "POST",
            url: "{% url 'hanmaum:dislike' %}",
            data: {
                'article_id' : article_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                if(response.status) { 
                    // 싫어요 성공
                    $(".like-action-group-"+article_id).html(
                        "<a class = 'like-button' data-article-id = '" + article_id + "'> 좋아요 </a><a class = 'cancle-button' data-article-id = '" +  article_id + "'> 싫어요 취소 </a>"
                    )
                    initLikeActivity();
                }
                else {
                    // 싫어요 실패
                    alert("에러가 발생하였습니다.")
                }
            },
            error: function(request, status, error) {
                alert("에러가 발생하였습니다.")
            }
        });  
    })

    $(".cancle-button").click(function() {
        var article_id = $(this).data("article-id");

        $.ajax({
            type: "POST",
            url: "{% url 'hanmaum:cancle' %}",
            data: {
                'article_id' : article_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                if(response.status) { 
                    // 싫어요 성공
                    $(".like-action-group-"+article_id).html(
                        "<a class = 'like-button' data-article-id = '" + article_id + "'> 좋아요 </a><a class = 'dislike-button' data-article-id = '" +  article_id + "'> 싫어요 </a>"
                    )
                    initLikeActivity();
                }
                else {
                    // 싫어요 실패
                    alert("에러가 발생하였습니다.")
                }
            },
            error: function(request, status, error) {
                alert("에러가 발생하였습니다.")
            }
        });  
    })
}


// {% if article.is_user_in_like %}
// <a class = "like-cancle-button" data-article-id = "{{article.id}}"> 좋아요 취소 </a>
// {% else %}
// <a class = "like-button" data-article-id = "{{article.id}}"> 좋아요 </a>
// {% endif %}

// {% if article.is_user_in_dislike %}
// <a class = "dislike-cancle-button" data-article-id = "{{article.id}}"> 싫어요 취소 </a>
// {% else %}
// <a class = "dislike-button" data-article-id = "{{article.id}}"> 싫어요 </a>
// {% endif %}
</script>
{% endblock %}
