<div class="card mt-2 p-2">
    <div class="card-body border-bottom-gray row">
        <div class="w-fit-content">
            <span class="fw-bold">
                다음 글:
            </span>
        </div>
        <div class="col text-overflow-ellipsis">
            {% if next_article %}
                <a href="{% url 'articles:show' next_article.id %}">{{ next_article.title }} </a>
            {% else%}
                <a class="text-muted">
                    다음 글이 없습니다.
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body row">
        <div class="w-fit-content">
            <span class="fw-bold">
                이전 글:
            </span>
        </div>
        <div class="col text-overflow-ellipsis">
            {% if prev_article %}
                <a href="{% url 'articles:show' prev_article.id %}">{{ prev_article.title }} </a>
            {% else%}
                <a class="text-muted">
                    이전 글이 없습니다.
                </a>
            {% endif %}
        </div>
    </div>
</div>