.joha-banner {
    text-align: center;
    height: auto;
    min-height: 20rem;
    max-height: 25rem;
    background-color: #282a2b !important;
    padding: 2rem;
    .joha-banner-title {
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .joha-banner-subtitle {
        max-width: 40rem;
        color: white;
        text-align: center;
        margin: 2rem auto 1rem auto;
    }
}