.text-white { color: #ffffff !important; }

.bg-white { background-color: #ffffff !important; }

.text-light-gray { color: #F7F7FB !important; }

.bg-light-gray { background-color: #F7F7FB !important; }

.text-light-dark { color: #1f1f1f !important; }

.bg-light-dark { background-color: #1f1f1f !important; }

.text-black { color: #000000 !important; }

.bg-black { background-color: #000000 !important; }

.text-dark { color: #000000 !important; }

.bg-dark { background-color: #000000 !important; }

.text-navy { color: #00235D !important; }

.bg-navy { background-color: #00235D !important; }

.text-dark-navy { color: #051122 !important; }

.bg-dark-navy { background-color: #051122 !important; }

.text-blue { color: #5060AD !important; }

.bg-blue { background-color: #5060AD !important; }

.text-light-blue { color: #6f83e7 !important; }

.bg-light-blue { background-color: #6f83e7 !important; }

.text-red { color: #ff5f5f !important; }

.bg-red { background-color: #ff5f5f !important; }

.text-gray { color: #6c757d !important; }

.bg-gray { background-color: #6c757d !important; }

.text-dark-gray { color: #282a2b !important; }

.bg-dark-gray { background-color: #282a2b !important; }

.text-transparent-gray { color: #6060607a !important; }

.bg-transparent-gray { background-color: #6060607a !important; }

.text-transparent { color: transparent !important; }

.bg-transparent { background-color: transparent !important; }

.mn-height-px-100 { min-height: 100px; }

.mn-height-px-200 { min-height: 200px; }

.mn-height-px-300 { min-height: 300px; }

.mn-height-px-350 { min-height: 350px; }

.mn-height-px-400 { min-height: 400px; }

.mn-height-px-500 { min-height: 500px; }

.text-white { color: #ffffff !important; }

.bg-white { background-color: #ffffff !important; }

.text-light-gray { color: #F7F7FB !important; }

.bg-light-gray { background-color: #F7F7FB !important; }

.text-light-dark { color: #1f1f1f !important; }

.bg-light-dark { background-color: #1f1f1f !important; }

.text-black { color: #000000 !important; }

.bg-black { background-color: #000000 !important; }

.text-dark { color: #000000 !important; }

.bg-dark { background-color: #000000 !important; }

.text-navy { color: #00235D !important; }

.bg-navy { background-color: #00235D !important; }

.text-dark-navy { color: #051122 !important; }

.bg-dark-navy { background-color: #051122 !important; }

.text-blue { color: #5060AD !important; }

.bg-blue { background-color: #5060AD !important; }

.text-light-blue { color: #6f83e7 !important; }

.bg-light-blue { background-color: #6f83e7 !important; }

.text-red { color: #ff5f5f !important; }

.bg-red { background-color: #ff5f5f !important; }

.text-gray { color: #6c757d !important; }

.bg-gray { background-color: #6c757d !important; }

.text-dark-gray { color: #282a2b !important; }

.bg-dark-gray { background-color: #282a2b !important; }

.text-transparent-gray { color: #6060607a !important; }

.bg-transparent-gray { background-color: #6060607a !important; }

.text-transparent { color: transparent !important; }

.bg-transparent { background-color: transparent !important; }

.btn-primary { background-color: #6f83e7; }

.btn-primary:hover { background-color: #5060AD; }

nav { z-index: 1000; background-color: white; box-shadow: 0 1px 0 0 #0000001a; width: 100%; height: 60px; text-decoration: none; }

nav a { text-decoration: none; }

nav h4.nav-brand { text-decoration: none; color: black; padding-left: 1rem; font-weight: 700; font-family: 'Raleway', sans-serif; }

@media only screen and (max-width: 1200px) { nav .nav-brand { font-size: 1.2rem; } }

nav .nav-menu-text { color: black; }

nav .nav-menu-text:visited { text-decoration: none; }

nav .nav-center-menu-item { padding-left: 1.5rem; padding-right: 1.5rem; }

nav .board-menu-group { background-color: rgba(0, 0, 0, 0.5); margin: 0 auto; }

nav .board-menu-group a { color: black; font-weight: 600; text-decoration: double; }

nav button.nav-menu-bar-button { padding-right: 1rem; }

nav .board-menu-group { max-width: 1200px; }

.footer-wrap { margin-top: 10rem; }

.footer-wrap footer { background-color: #282a2b; }

.pagination_wrapper { padding: 1rem; text-align: center; background-color: transparent !important; }

.pagination_wrapper .pagination { padding: 2rem; }

.article .article-content iframe { max-width: 100%; max-height: 500px; }

.article div.id_title { color: black; background-color: white; border: none; border-bottom: 1px solid #00000020; -webkit-box-shadow: none; box-shadow: none; margin: 0 0 1rem 0 !important; min-height: 45px; outline: none; }

.article .article-title-form { background: none; border: 0; color: rgba(0, 0, 0, 0.6); display: inline-block; font-size: 1rem; height: 3rem; line-height: 3rem; outline: 0; width: auto; min-width: 80%; max-width: 100%; }

@media only screen and (max-width: 1000px) { .article.container { padding: 0; margin: 0; } }

button.border-none { border: none; background: none; outline: none; }

/*# sourceMappingURL=style.css.map */