/* ----- background-color ----- */
.bg-black {
    background-color: black;
}

.bg-light-gray{
    background-color: rgba(0, 0, 0, 0.031);
}

/* min-height */

.mn-height-px-100 {
    min-height: 100px;
}

.mn-height-px-300 {
    min-height: 300px;
}

.mn-height-px-500 {
    min-height: 500px;
}

/* ----- padding ----- */

.pl-4 {
    padding-left: 1.5rem!important;
}

.pl-5 {
    padding-left: 2rem!important;
}

/* ----- margin ----- */
.ml-5 {
    margin-left: 2rem!important;
}

/* ----- width ----- */
.w-auto-fit {
    width: auto;
    max-width: 100%;
    height: 100;
}

.w-90p {
    width: 90%;
}

.w-80p  {
    width: 80%;
}

.w-70p {
    width: 70%;
}

/* ----- heght ----- */

.h-2-rem {
    height: 2rem;
}

/* ----- position ----- */

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

/* ----- line-height ----- */
.lh-2-rem {
    line-height: 2rem;
}

/* ----- text ----- */

.text-error {
    margin-top: 1px;
    font-size: 0.8rem;
    color: red;
}

.text-error::before {
    content: "* ";
}

.text-underline {
    text-decoration: underline!important;
    text-decoration-color: #ffffff!important;
    text-decoration-thickness: .125em!important;
    text-underline-offset: 1.5px!important;
}

/* ----- banner ----- */
.background-banner {
    width: 100%;
    margin-top: -60px;
    min-height: 400px;
    max-height: 600px;
    background-position: top -400px center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: relative;
}

.banner-title {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-decoration: solid 2px;

    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 200px;
    left: 50%;
}

/* -------- nav -------- */

nav {
    z-index: 1000;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
}

nav.navbar {
    width: 100%;
    height: 60px;
    text-decoration: double;
}

nav a {
    text-decoration: none;
}

nav .nav-brand {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    font-family: 'Raleway',sans-serif;
}

nav .nav-menu-text:visited {
    text-decoration: none;
}
nav .nav-menu-text {
    color: white;
    font-weight: 600;
    text-decoration: double;
}

nav .board-menu-group {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

nav .board-menu-group a{
    color: white;
    font-weight: 600;
    text-decoration: double;
}

.none-itmes-wrapper {
    border-radius: 10px;
    margin: 10px;
    padding: 4px;
    min-height: 100px;
}

.none-items-msg {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    filter: drop-shadow(0 0 0.05rem #5C6F7D);
    font-family: 'Raleway',sans-serif;
    line-height: 100px
}


/* user page */

.user-page .avatar-image-wrapper {
    overflow: hidden;
    width: 12rem;
    height: 12rem;
    box-shadow: 1px 1px #cbcbcb;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.user-page .avatar-image-wrapper img {
    width: 100%;
    height: auto;
}

/* article page */
.card-header-author-menu {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-header-author-menu a{
    padding: 0.5rem;
    color: #6c757d!important;
}


/* components */

.avatar-image-small-wrapper {
    overflow: hidden;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    box-shadow: 1px 1px #cbcbcb;
    border-radius: 50%;
}
.avatar-image-small-wrapper img{
    width: 100%;
    height: auto;
}

/* comments */
.comment-action {
    position: absolute;
    top: 1px;
    right: 1px;
}

.comment .updated_at {
    padding: 0.2rem 0 0 0.5rem;
    font-size: small;
    color: #6c757d!important;
}

.comment .commentor {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
    padding: 0.5rem!important;
    vertical-align: middle!important;
}

.comment .avatar-image-small-wrapper {
    vertical-align: middle;
}

.comment .comment-textarea-wrapper {
}

.comment .comment-textarea-wrapper .comment-submit {
    width: 10%;
}

.comment .comment-textarea-wrapper .comment-submit button {
    height: 100%;
    width: 100%;
}

.comment .comment-textarea-wrapper textarea {
    display: inline-block;
    width: 89.5%;
    margin-right: 0.5%;
}

@media only screen and (min-width: 1900px) {
    .comment .comment-textarea-wrapper textarea {
        display: inline-block;
        width: 94.5%;
        margin-right: 0.5%;
    }
    .comment .comment-textarea-wrapper .comment-submit {
        width: 5%;
    }
}

@media only screen and (max-width: 1100px) {
    .comment .comment-textarea-wrapper textarea {
        display: inline-block;
        width: 79.5%;
        margin-right: 0.5%;
    }
    .comment .comment-textarea-wrapper .comment-submit {
        width: 20%;
    }
}

/*sign up*/
.main-icon {
    width:7rem;
    padding-bottom: 0.5rem;
}

.color-blue {
    color: #0d6efd;
}