{% load bootstrap5 %}
{% load fontawesome_5 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% if title %}
                {{title}}
            {% else %}
                한아름
            {% endif %}

        </title>
        {% comment %} favicon 추가 {% endcomment %}
        <meta name="description" content="한민의 소리, 한아름입니다.">
        <link rel="shortcut icon" href="{% static 'img/no-title-logo.png' %}?v=2">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'library/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css' %}?v=2" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style/normalize.css' %}?v=2">
        <link rel="stylesheet" href="{% static 'style/style.css' %}?v=2">
        {% fontawesome_5_static %}
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        {% include '_top_banner.dj.html' %}
        {% if not non_nav %}
            {% include 'nav.dj.html' %}
        {% endif %}
        {% if not non_banner %}
            {% include '_banner.dj.html' %}
        {% endif %}
        <div class = "row h-100">
            <div class = "col-xl-1 col-lg-1 col-md-1 d-md-block d-sm-none d-none"></div>
            <div class = "col-xl-10 col-lg-10 col-md-10 col-12">
                {% block content %}
                {% endblock %}
            </div>
            <div class = "col-xl-1 col-lg-1 col-md-1 d-md-block d-sm-none d-none"></div>
        </div>
        {% include '_toasts.dj.html' %}
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="{% static 'library/bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/_toast.js' %}"></script>

        {% if not non_nav %}
            <script>
                $(document).ready(function() {
                    $("#nav-board").click(function() {
                        $("#nav-board").toggleClass("text-underline")
                    });
                })
            </script>
        {% endif %}
        <script>
            $(function () {
                $('#sidebarCollapseInner').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                });
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                });
            });
            function initLikeActivity() {
                $(".like-button").click(function() {
                    var article_id = $(this).data("article-id");
                    $.ajax({
                        type: "POST",
                        url: "{% url 'hanmaum:like' %}",
                        data: {
                            'article_id' : article_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: "json",
                        success: function(response) {
                            if(response.status) {
                                // 좋아요 성공
                                $(".like-action-group-"+article_id).html(
                                    "<a class = 'cancle-button' data-article-id = '" + article_id + "'> 좋아요 취소 </a><a class = 'dislike-button' data-article-id = '" + article_id + "'> 싫어요 </a>"
                                )
                                initLikeActivity();
                            }
                            else {
                                // 좋아요 실패
                                alert("에러가 발생하였습니다.")
                            }
                        },
                        error: function(request, status, error) {
                            alert("에러가 발생하였습니다.")
                        }
                    });
                })

                $(".dislike-button").click(function() {
                    var article_id = $(this).data("article-id");

                    $.ajax({
                        type: "POST",
                        url: "{% url 'hanmaum:dislike' %}",
                        data: {
                            'article_id' : article_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: "json",
                        success: function(response) {
                            if(response.status) {
                                // 싫어요 성공
                                $(".like-action-group-"+article_id).html(
                                    "<a class = 'like-button' data-article-id = '" + article_id + "'> 좋아요 </a><a class = 'cancle-button' data-article-id = '" +  article_id + "'> 싫어요 취소 </a>"
                                )
                                initLikeActivity();
                            }
                            else {
                                // 싫어요 실패
                                alert("에러가 발생하였습니다.")
                            }
                        },
                        error: function(request, status, error) {
                            alert("에러가 발생하였습니다.")
                        }
                    });
                })

                $(".cancle-button").click(function() {
                    var article_id = $(this).data("article-id");

                    $.ajax({
                        type: "POST",
                        url: "{% url 'hanmaum:cancle' %}",
                        data: {
                            'article_id' : article_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: "json",
                        success: function(response) {
                            if(response.status) {
                                // 싫어요 성공
                                $(".like-action-group-"+article_id).html(
                                    "<a class = 'like-button' data-article-id = '" + article_id + "'> 좋아요 </a><a class = 'dislike-button' data-article-id = '" +  article_id + "'> 싫어요 </a>"
                                )
                                initLikeActivity();
                            }
                            else {
                                // 싫어요 실패
                                alert("에러가 발생하였습니다.")
                            }
                        },
                        error: function(request, status, error) {
                            alert("에러가 발생하였습니다.")
                        }
                    });
                })
            }
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>