{% load static %}
{% load fontawesome_5 %}

<nav class="navbar sticky-top m-0 p-0">
    <div class="row w-100 m-3 justify-content-center">
        <div class = "col-lg-3 col-11">
            <a href = "/">
                <h4 class = "nav-brand">
                    <img src = "{% static 'img/no-title-logo.png'%}" height = "30"/>
                    한민의 소리, <span class="text-blue">한아름</span>
                </h5>
            </a>
        </div>

        <div class = "col-lg-6 d-lg-block d-md-none d-none">
            <div class = "row w-100">
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne" id = "nav-board">
                        게시판
                    </a>
                </div>
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" href="{% url 'notices:index' %}"> 공지사항 </a>
                </div>
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" href="{% url 'hanmaum:index' %}"> 한마음 </a>
                </div>
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" href="#"> FAQ </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 d-lg-block d-md-none d-none dropdown text-end">
            <a class="nav-menu-text nav-link dropdown-toggle align-middle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% fa5_icon 'user' 'fas' %} </a>
            <div class="dropdown-menu align-self-end right-0" aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'users:me' %}">내정보</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'users:signout' %}">
                            로그아웃
                    </a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'users:signin' %}"> 로그인 </a></li>
                    <li><a class="dropdown-item" href="{% url 'users:signup' %}"> 회원가입 </a></li>
                {% endif %}
            </div>
        </div>
        <div class="col-1 d-md-block d-lg-none">
            <button class="btn nav-menu-text m-0 p-0 nav-menu-bar-button" id="sidebarCollapse">
                {% fa5_icon 'bars' 'fas' %}
            </button>
        </div>
    </div>
    <div class = "row board-menu-group w-80p d-lg-block d-md-none d-none">
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="nav-menu-text">
            <div class="accordion-body">
                <div class = "row">
                    {% for board in nav_board_list%}
                        {% if not user.is_anonymous or board.visible_anonymous %}
                            <div class = "col-4 p-2 text-center">
                                <a href = "{% url 'boards:show' board.id %}" class="text-white">
                                    {{board.title}}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>
{% include 'sidemenu.dj.html' %}
