{% load static %}
{% load fontawesome_5 %}

<nav class = "navbar sticky-top m-0 p-0">
    <div class = "row w-100 p-3">
        <div class = "col-4">
            <a href = "/">
                <h4 class = "nav-brand">
                    <img src = "{% static 'img/no-title-logo-new.png'%}" height = "30"/>
                    한민의 소리, 한아름
                </h4>
            </a>
        </div>

        <div class = "col-4">
            <div class = "row w-100">
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne" id = "nav-board">
                        게시판
                    </a>
                </div>
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" href="{% url 'notice:index' %}"> 공지사항 </a>
                </div>
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" href="{% url 'hanmaum:index' %}"> 한마음 </a>
                </div>
                <div class = "col-3 text-center">
                    <a class="nav-menu-text align-middle" href="#"> FAQ </a>
                </div>
            </div>
        </div>
        <div class = "col-2"></div>

        {% if user.is_authenticated %}
            <div class="col-2 dropdown text-end">
                <a class="nav-menu-text nav-link dropdown-toggle align-middle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% fa5_icon 'user' 'fas' %} </a>
                <div class="dropdown-menu align-self-end right-0" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'user:me' %}">내정보</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'user:signout' %}">
                            로그아웃
                    </a></li>
                </div>
            </div>
        {% else %}
            <div class="col-1">
                <a class="nav-menu-text" href="{% url 'user:signin' %}"> 로그인 </a>
            </div>
            <div class="col-1">
                <a class="nav-menu-text" href="{% url 'user:signup' %}"> 회원가입 </a>
            </div>
        {% endif %}
    </div>
    <div class = "row board-menu-group w-80p">
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="nav-menu-text">
            <div class="accordion-body">
                <div class = "row">
                    {% for board in nav_board_list%}
                        <div class = "col-4 p-2 text-center">
                            <a href = "{% url 'board:show' board.id %}">
                                {{board.title}}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>