{% load static %}
<nav class = "navbar">
    <div class = "row p-2 w-100">
        <div class = "col-6">
            <h4 class = "text-black">
                <img src = "{% static 'img/no-title-logo.png'%}" height = "40"/>
                한민의 소리, 한아름
            </h4>
        </div>
        <div class = "col-1">
            <a class="nav-menu-text" href="#"> 게시판 </a>
        </div>
        <div class = "col-1">
            <a class="nav-menu-text" href="#"> 한마음 </a>
        </div>
        <div class = "col-1">
            <a class="nav-menu-text" href="#"> FaQ </a>
        </div>
        <div class = "col-1">
            <a class="nav-menu-text" href="#"> 로그인 </a>
        </div>
        <div class = "col-1">
            <a class="nav-menu-text" href="#"> 회원가입 </a>
        </div>
        <div class = "col-1">
            <a class="nav-menu-text" href="#"> 내 정보 </a>
        </div>
    </div>
</nav>