{% load static %}
{% load fontawesome_5 %}

<nav class="sidemenu d-lg-none vertical-nav bg-white active" id="sidebar">
  <div class="py-4 px-3 mb-4 position-relative bg-light-gray">
    <div class="media d-flex align-items-center w-80p">
      <div class="media-body">
        {% if user.is_authenticated %}
          <h4 class="m-0">{{request.user.nickname}}</h4>
          <p class="font-weight-light text-muted mb-0">님, 반갑습니다.</p>
        {% else %}
          <h4 class="m-0">비회원</h4>
          <p class="font-weight-light text-muted mb-0">로그인을 하시면 더 많은 내용을 확인할 수 있습니다.</p>
        {% endif %}
      </div>
    </div>
    <button id="sidebarCollapseInner" type="button" class="btn btn-light bg-white rounded-pill shadow-sm position-absolute right-10 top-30">
        {% fa5_icon 'arrow-right' 'fas' %}
    </button>
  </div>

  <div class = "bg-white">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">회원 정보</p>
    <ul class="nav flex-column mb-0">
      {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'users:me' %}">
                    {% fa5_icon 'user-alt' 'fas me-2' %}
                    내정보
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:password_edit' %}" class="nav-link text-dark">
                    {% fa5_icon 'user-edit' 'fas me-2' %}
                    비밀번호 수정
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:signout' %}" class="nav-link text-dark">
                    {% fa5_icon 'sign-out-alt' 'fas me-2' %}
                    로그아웃
                </a>
            </li>
      {% else %}
        <li class="nav-item">
            <a href="{% url 'users:signin' %}" class="nav-link text-dark">
            {% fa5_icon 'sign-in-alt' 'fas me-2' %}
            로그인
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'users:signup' %}" class="nav-link text-dark">
            {% fa5_icon 'user-plus' 'fas me-2' %}
            회원가입
            </a>
        </li>
      {% endif %}
    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">서비스</p>
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="/" class="nav-link text-dark">
            {% fa5_icon 'home' 'fas me-2' %}
            홈
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseSideNavBoard"
                aria-expanded="true" aria-controls="collapseSideNavBoard">
                {% fa5_icon 'scroll' 'fas me-2' %}
                게시판
            </a>
        </li>
        <div id="collapseSideNavBoard" class="accordion-collapse collapse" aria-labelledby="nav-menu-text">
            <div class="accordion-body">
                {% for board in nav_board_list%}
                    {% if not user.is_anonymous or board.visible_anonymous %}
                        <li class="nav-item p-2 ms-2">
                            <a href = "{% url 'boards:show' board.id %}">
                                {{ board.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <li class="nav-item">
            <a href="{% url 'notices:index' %}" class="nav-link text-dark">
            {% fa5_icon 'flag' 'fas me-2' %}
            공지사항
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'hanmaum:index' %}" class="nav-link text-dark">
            {% fa5_icon 'heart' 'fas me-2' %}
            한마음
            </a>
        </li>
        {% comment %} <li class="nav-item">
            <a href="#" class="nav-link text-dark">
            {% fa5_icon 'question' 'fas me-2' %}
            FAQ
            </a>
        </li> {% endcomment %}
    </ul>
  </div>
</nav>
