{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% load fontawesome_5 %}
{% block stylesheet %}
{% fontawesome_5_static %}
{% endblock %}

{% block content %}
    <div class = "row p-3 gx-lg-5">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 col-12">
            <div class="board-header w-100 position-relative">
                <h3 style="display:inline-block">
                    {{ board.title }} : 최신 글
                </h3>
                <a href="{% url 'article:new' board.id %}" class="text-right btn btn-success" style="position:absolute; right:0;">
                    {% fa5_icon 'pencil-alt' 'fas' %} 새로운 글 작성하기
                </a>
                <hr>
            </div>
            <div class="row g-2">
                {% for article in articles %}
                    {% include 'article/_article_card.dj.html' %}
                {% endfor %}
            </div>
        </div>

        <div class = "col-3" style="border:1px solid ">
            {% comment %} TODO: HNM-0066: 필터 {% endcomment %}
        </div>
    </div>

{% endblock %}