{% load fontawesome_5 %}

<div class="card">
    <div class="card-body position-relative">
        <h5 class="card-title">
            <a href = "{{ show_url }}">
                {{article.abstract_title}}
            </a>
            {% if article.top_fixed %}
                <span class="badge bg-success text-white font-size-half-rem">상단 고정</span>
            {% endif %}
        </h5>
        <p class="card-text">{{article.summary}}</p>
        
        <div class="card-text">
            {% for hashtag in article.hashtags%}
                <span class="fw-bold">
                    {{hashtag.content}}
                </span>
            {% endfor %}
        </div>
        <div class="like-activity-group pb-2 pt-3">
            <span class="card-text">
                {% fa5_icon 'eye' 'far' %} {{article.total_viewed_count}}
            </span>
            {% if show_like_activity %}
                <span class="card-text ps-2 text-blue">
                    <span>
                        {% if user.is_user_in_like %}
                                {% fa5_icon 'thumbs-up' 'fas' %}
                        {% else %}
                                {% fa5_icon 'thumbs-up' 'far' %}
                        {% endif %}
                    </span>
                    {{article.like_count}}
                </span>
                <span class="card-text ps-2 text-red" >
                    <span>
                        {% if user.is_user_in_dislike %}
                            {% fa5_icon 'thumbs-down' 'fas' %}
                        {% else %}
                            {% fa5_icon 'thumbs-down' 'far' %}
                        {% endif %}
                    </span>
                    {{article.dislike_count}}
                </span>
            {% endif %}
        </div>
        <p class="card-text">
            <small class="text-muted">
                <span class="me-2">
                    {% fa5_icon 'user-alt' 'fas' %}
                    {% if article.anonymous_author %}
                        익명
                    {% else %}
                        {{ article.author}}
                    {% endif %}
                </span>
                <span>
                    {% fa5_icon 'clock' 'far' %}
                    {{article.updated_at}}
                </span>
            </small>
        </p>
    </div>
</div>