{% load fontawesome_5 %}

<div class="card">
    <div class="card-body position-relative">
        <h5 class="card-title">
            <a href = "{{ show_url }}">
                {{ article.abstract_title }}
            </a>
            {% if article.top_fixed %}
                <span class="badge bg-success text-white font-size-half-rem">상단 고정</span>
            {% endif %}
        </h5>
        <p class="card-text">{{ article.summary }}</p>
        
        <div class="card-text pb-2">
            {% for hashtag in article.hashtags%}
                <span class="badge bg-light text-dark pe-2">
                    {{ hashtag.content }}
                </span>
            {% endfor %}
        </div>
        <p class="card-text">
            <small class="text-muted">
                <span class="me-2">
                    {% fa5_icon 'user-alt' 'fas' %}
                    {% if article.anonymous_author %}
                        익명
                    {% else %}
                        {{ article.author}}
                    {% endif %}
                </span>
                {% fa5_icon 'eye' 'far' %} {{article.total_viewed_count}}
                {% if show_like_activity %}
                    <span class="card-text ps-2 text-blue">
                        {% if user.is_user_in_like %}
                                {% fa5_icon 'thumbs-up' 'fas' %}
                        {% else %}
                                {% fa5_icon 'thumbs-up' 'far' %}
                        {% endif %}
                        {{article.like_count}}
                    </span>
                    <span class="card-text ps-2 text-red" >
                        {% if user.is_user_in_dislike %}
                            {% fa5_icon 'thumbs-down' 'fas' %}
                        {% else %}
                            {% fa5_icon 'thumbs-down' 'far' %}
                        {% endif %}
                        {{article.dislike_count}}
                    </span>
                {% endif %}
                <span class="ps-2">
                    {% fa5_icon 'clock' 'far' %}
                    {{article.updated_at}}
                </span>
            </small>
        </p>
</div>