{% load fontawesome_5 %}

<div class="card {% if article.top_fixed %} bg-light-gray {% endif %}">
    <div class="card-body position-relative">
        <div class="p-1">
            <a href = "{{ show_url }}">
                <h6 class="card-title w-100 text-overflow-ellipsis">
                    {% if article.top_fixed %}
                        <span class="badge bg-success text-white font-size-half-rem me-2">상단 고정</span>
                    {% endif %}
                    {{ article.title }}
                </h6>
            </a>
            <p class="card-text fw-light text-gray text-small text-overflow-ellipsis pb-1 mb-0">
                {{ article.plain_content }}
            </p>
        </div>
        <div class="card-text pb-1">
            {% for hashtag in article.hashtags%}
                <span class="badge bg-light text-gray pe-2 text-xxsmall">
                    {{ hashtag.content }}
                </span>
            {% endfor %}
        </div>
        <div class="p-1 card-text text-muted text-xxsmall">
            <span class="me-2">
                {% fa5_icon 'user-alt' 'fas' %}
                {% if article.anonymous_author %}
                    익명
                {% else %}
                    <a {% if article.author.id %} href= "{% url 'users:show' article.author.id %}" {% endif %}>
                        {{ article.author}}
                    </a>
                {% endif %}
            </span>
            {% fa5_icon 'eye' 'far' %} {{article.total_viewed_count}}
            {% if show_like_activity %}
                <span class="card-text ps-2 text-blue">
                    {% if user.is_user_in_like %}
                            {% fa5_icon 'thumbs-up' 'fas' %}
                    {% else %}
                            {% fa5_icon 'thumbs-up' 'far' %}
                    {% endif %}
                    {{article.like_count}}
                </span>
                <span class="card-text ps-2 text-red" >
                    {% if user.is_user_in_dislike %}
                        {% fa5_icon 'thumbs-down' 'fas' %}
                    {% else %}
                        {% fa5_icon 'thumbs-down' 'far' %}
                    {% endif %}
                    {{article.dislike_count}}
                </span>
            {% endif %}
            <span class="ps-2">
                {% fa5_icon 'clock' 'far' %}
                {{article.updated_at}}
            </span>
        </div>
    </div>
</div>