{% load static %}
{% comment %} TODO: HNM-0063: 어드민에서 기본 이미지 설정할 수 있도록 하기 {% endcomment %}
<div class = "background-banner" style="background-image: url('{% static img_url|default:'/img/hanmin_background.jpg' %}');">
    <h1 class = "banner-title text-overflow-ellipsis w-70p">
        {% if banner_title %}
            {{ banner_title }}
        {% else %}
            한아름
        {% endif %}
    </h1>
    {% if banner_sub_title %}
        {% if banner_sub_title_link %}
            <a href="{{ banner_sub_title_link }}">
                <h4 class="banner-sub-title text-overflow-ellipsis">
                {{ banner_sub_title }}
                </h4>
            </a>
        {% else %}
            <h4 class="banner-sub-title text-overflow-ellipsis">
                {{ banner_sub_title }}
            </h4>
        {% endif %}
    {% endif %}
</div>