<div class="card col-12">
    <div class="row g-0">
        <div class="col-md-4">
            {% if article.thumbnail %}
                <img src="{{ article.thumbnail.url }}" alt="..." class = "w-auto-fit">
            {% else %}
                {% comment %} TODO: 이미지가 없을 때의 이미지 추가 {% endcomment %}
                <img src="" alt="..." class = "w-auto-fit">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href = "{% url 'hanmaum:show' article.id %}">
                        {{article.title}}
                    </a>
                </h5>
                <p class="card-text">{{article.summary}}</p>
                <p class="card-text">조회수: {{article.viewed_count}}</p>
                <p class="card-text"><small class="text-muted">{{article.updated_at}}</small></p>
            </div>
        </div>
    </div>
</div>