{% extends 'base.dj.html' %}
{% load static %}
{% load bootstrap5 %}
{% load fontawesome_5 %}
{% block stylesheet %}
  {% fontawesome_5_static %}
{% endblock %} 

{% block content %}
<div class="container p-3 user-page">
  <div class="row g-2">
    <div class="col-md-4 col-12">
      <div class="card p-3 h-100">
        <div class="avatar-image-wrapper">
          <img src="{{ user.avatar_image_url }}">
        </div>

        <div class="text-center p-2">
          <h2>
            {{user.nickname}}
          </h2>
        </div>

        <ul class="list-group list-group-flush list-style-none text-center border-none">
          <li>
            <a href="{% url 'users:edit' %}" class="list-group-item"> 정보 수정 </a>
          </li>
          <li class="mt-1">
            <a href="{% url 'users:password_edit' %}"class="list-group-item"> 비밀번호 수정 </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-12">
      <div class="card p-3 w-100">
        <form method="POST" action="{% url 'users:edit' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="m-1">
              <label for="{{field.id_for_label}}" class = "sm-1">{{field.label}}</label>
              {{ field }}
              {% for error in field.errors %}
                <span class="text-red">
                  {{ error }}<br>
                </span>
              {% endfor %}
              <div class="pt-2">
                {{field.help_text}}
              </div>
            </div>
          {% endfor %}
          <div class="m-1 pt-3">
            <button class="btn btn-primary btn-md" type="submit">정보 변경</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}